
.body{
  position: relative;
}

.content{
  background-color:white;
}

header{
  background-color: white;
  height:80px;
  width: 100%;
  position: fixed;
  z-index: 9950;
}

header>img{
  margin: 18px 35px;
}

video{
  width:100%;
  margin-top: 80px;
}

.pickUp{
  margin-top: 70px;
}

.h1Center{
  text-align:center;
}

h1{
  display: inline-block;
  font-size: 35px;
  margin:30px;
}

.slider{
  overflow: hidden;
}

.slider img{
  width:20vw;
  margin:0 auto;
}

.feTitle{
  margin-top: 80px;
}

.category{
  display:inline-block;
  margin: 14px 0;
  box-sizing: border-box;
  width: 30%;
  box-shadow: 0 0 15px darkgray;
  width: 30%;
}

.feature{
  margin: 0 auto;
  display:flex;
  justify-content: space-evenly;
  flex-direction:row;
  flex-wrap: wrap;
  width:100%;
  max-width: 1260px;
  height: fit-content;
}

.text{
  margin:30px;
}

h2{
  font-size: 12px;
  font-weight: normal;
}

.main-text{
  font-size:14px;
  font-weight: bolder;
  padding:8px 0 15px 0;
}

.date{
  font-size: 12px;
  text-align: right;
}

.category img{
  width: 100%;
}

.fadeUp{
  animation-name:fadeUpAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
  opacity:0;
}

@keyframes fadeUpAnime{/*動き方の指定*/
  from {
    opacity: 0;
  transform: translateY(300px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}

.fadeUpTrigger{
  opacity:0;
}

footer{
  position: absolute;
  width:100%;
  height: fit-content;
  margin-top: 50px;
  padding: 0 15px 0 15px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 15px;
}

footer h1{
  padding: 25px 0 8px 0;
}

.contact{
  text-align: left;
  margin: 0 auto;
  position: relative;
  height: 380px;
  max-width: 1230px;
  font-weight: normal;
}

.contactText{
  position:absolute;
  left:0;
  width:45%;
}

.fome{
  width:45%;
  margin-left:85px;
  position: absolute;
  right:0;
}

.fome input{
 width: 100%;
 border: none;
 margin-bottom: 20px;
}

.person{
  height:45px;
}

.message{
  height: 70px;
}

.fome p{
  margin:0;
}

button{
  color: white;
  background-color: black;
  border-color: white;
  border-width:1px;
  width: 210px;
  height: 50px;
}

button:hover{
  color:black;
  background-color: white;
  border-color:black;
}

.logo{
  margin: 10px 0 10PX 0;
  font-size: 12px;
}

.icon{
  z-index: 9980;
  position: fixed;
  display:block;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin:16px 40px;
  top: 0;
  right: 0;
  transition: all .5s;
}

.icon span{
  display:block;
  padding: 1px 13px;
  margin:10px;
  background-color: black;
  transition: all .5s;
}

.icon span:nth-child(1){
  top:4px;
}

.icon span:nth-child(2){
  top:14px;
}

.icon span:nth-child(3){
  bottom:4px;
}


.active span{
  background-color: white;
}

.active span:nth-child(1){
  transform: translateY(12px) rotate(-315deg);
}

.active span:nth-child(2){
  opacity: 0;
}

.active span:nth-child(3){
  transform: translateY(-12px) rotate(315deg);
}

.close{
  cursor: pointer;
  display: none;
  position: fixed;
  background-color: rgba(0,0,0,0.7);
  height:100vh;
  width:100%;
  top:0;
  left:0;
  z-index: 9970;
}

.menu{
  display: block;
  background-color: black;
  height:100%;
  width: 300px;
  left:-300px;
  position: fixed;
  z-index: 9980;
  padding: 25px;
  opacity: 0;
  transition: all .5s;
}

.open{
  left: 0;
  opacity:1;
}

.menuList a{
  color:white;
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
}

.menuList div{
  padding: 18px 0;

}

.border{
  border-top: solid 1px white;
  border-bottom:solid 1px white ;
}

.menuList{
  margin: 40px 0 60px 0;
}

.link a{
  display: block;
  padding: 0;
  margin-top:10px;
  color:white;
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
}

@media only screen and (max-width: 1023px){/*タブレット*/
  .category{
    width: 48.5%;
  }

  .feature{
    padding:18px;
    justify-content:space-between; 
  }

}

@media only screen and (max-width: 780px){/*スマホ*/
  
  video{
    width:auto;
    height:569px;
    text-align: center;
  }

  .hide{
    overflow: hidden;
  } 

  .slider img{
    width:75vw;
    margin:0 auto;
  }
  

  h1{
    font-size: 23px;
  }

  .category{
    width:100%;
    margin: 14px ;
  }

  .contact{
    height: fit-content;
  }

  .contactText{
    position: static;
    left:0;
    width:100%;
  }

  .fome{
    position: static;
    display: block;
    width:100%;
    margin-left:0px;
  }

  button{
    width: 100%;
  }

  .logo{
    padding-top: 70px;
  }



}
